authentication_JWT/backend/node_modules/
authentication_JWT/frontend/node_modules/
authentication_JWT/backend/*.log
authentication_JWT/backend/.env
authentication_JWT/frontend/*.log
authentication_JWT/frontend/.env