authentication_JWT/server/node_modules/
authentication_JWT/auth-app/node_modules/
authentication_JWT/server/*.log
authentication_JWT/server/.env
authentication_JWT/auth-app/*.log
authentication_JWT/auth-app/.env